.body{
    height: 768px;
   /* background-image: linear-gradient( rgb(255, 255, 255), #1e90ff ); */
    text-align: center;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
  }
#logo{
    height: 100px;
    width: 100px;
}

#send-container{
    background-color: #043769;
    display: block;
    margin: auto;
    padding-left: 50px;
    text-align: left;
    height: 184px;
}

.profile{
    padding: 8px;
    color: #043769;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 5px;
    border: solid #01080f 2px;
    height: 70px;
    width: 200px;
}

.container{
    display: inline-block;
    overflow-y: auto;
    padding: 10px;
    margin: auto;
    height: 500px;
    width: 700px;
    background-color: f0f3f7;
    border: solid  #043769 2px;
    border-radius: 3%;
}
.container2{
    display: inline-block;
    overflow-y: auto;
    padding: 10px;
    margin: auto;
    height: 500px;
    width: 700px;
    background-color: #ffffff;
    border: solid  #043769 1px;
    
}

#messageInput{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 3px;
    height: 30px;
    width: 610px;
    background-color: #f0f3f7;
    border: solid #043769 2px;
    border-radius: 10px;
}
#btn{
    color: #ffffff;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 3px;
    height:38px;
    width:60px;
    background-color: #0e77ee;
    border: solid #054381 1px;
    border-radius: 10px;
}
.message{
color: snow;
background-color: #1e90ff;
margin: 3px;
padding: 8px;
height: fit-content;
background-color: #1e90ff;
height: fit-content;
width: 180px;
/* border: solid  #043769 1px; */
border-radius: 8px;
}
.left{
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #d7dbdf;
    float: left;
}
.right{
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f86dd;
    float: right;
}
.head{
    margin: 10px;
    border: solid #043769 1px;
}
.user{
    display: flex;
    background-color: #01080f;
    margin: 5px;
    padding: 5px;
    color: #0e77ee;
    padding-bottom: 0%;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: solid #043769 1px;
    margin: 5px;
}
.name{
    background-color: #01080f;
}